<li class="list-group-item finished_course">
  <dl class="dl-horizontal">
    <dt><strong><%= t "course.code" %></strong></dt>
    <dd><%= link_to user_course.course_code, user_course_path(user_course) %></dd>
    <dt><strong><%= t "course.name" %></strong></dt>
    <dd><%= link_to user_course.course_name, user_course_path(user_course) %></dd>
    <dt><strong><%= t "course.description" %></strong></dt>
    <dd><%= user_course.course_description %></dd>

     <dt><strong><%= t "course.status" %></strong></dt>
    <dd><span class="prs <%= course_label user_course.course.status %>">
      <%= user_course.course_status %></span></dd>

     <dt><strong><%= t "course.start_date" %></strong></dt>
    <dd>
      <span class="text-muted">
        <%= user_course.course_start_date %>
      </span>
    </dd>

     <dt><strong><%= t "course.end_date" %></strong></dt>
    <dd>
      <span class="text-muted">
        <%= user_course.course_end_date %>
      </span>
    </dd>
  </dl>
</li>
