<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %> | Training System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? && current_user.is_admin? %>
      <%= render "layouts/admin_header" %>
      <div class="container">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    <% else %>
      <%= render "layouts/header" %>
      <div class="container">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
